.avatar_profileAvatar__3StO0 {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  color: white;
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
  background: #a3a3a3;
  overflow: hidden; }
  .avatar_profileAvatar__3StO0 > img {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 48px;
    border-style: none; }

.button_container__2trs6 {
  margin: 0 auto;
  text-align: center;
  float: left;
  width: 100%;
  position: relative; }

.button_buttonGroup__2gosB {
  position: relative;
  width: auto;
  display: block; }

.button_button__1bz2z {
  font-family: "Poppins Bold Italic", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  background-color: #7603db;
  padding: 1rem 4rem;
  cursor: pointer;
  opacity: 1;
  border-radius: 90px;
  border: 0;
  transition: all 0.1s ease-in-out;
  outline: none; }
  .button_button__1bz2z:hover {
    background-color: #da0dff; }
  .button_button__1bz2z:disabled, .button_button__1bz2z[disabled] {
    background-color: #666666;
    color: white;
    cursor: not-allowed; }

.button_underneathLabel__1vRh4 {
  font-family: "Poppins Bold Italic", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 0.8rem;
  color: #7603db;
  display: block;
  margin-top: 1rem; }

.button_linkButton__14v-v {
  cursor: pointer;
  padding: 1rem 2.5rem;
  background-color: #7603db;
  text-align: center;
  transition: all 0.1s linear;
  color: white;
  border-radius: 90px;
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
  opacity: 1;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", Helvetica, Arial, sans-serif; }
  @media screen and (min-width: 52em) {
    .button_linkButton__14v-v {
      padding: 0.7rem 2.2rem; } }
  @media screen and (min-width: 64em) {
    .button_linkButton__14v-v {
      padding: 1rem 2.5rem; } }

.checkbox_customCheckbox__3Cat0 input[type='checkbox'] {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .checkbox_customCheckbox__3Cat0 input[type='checkbox'] ~ label {
    position: relative;
    cursor: pointer;
    padding-left: 1rem;
    margin-left: 1rem;
    transition: ease 0.1s color; }
    .checkbox_customCheckbox__3Cat0 input[type='checkbox'] ~ label:hover {
      color: #666666; }
  .checkbox_customCheckbox__3Cat0 input[type='checkbox']:not(:checked) ~ label:after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: -1.5px;
    left: -12px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
    border-color: #e8e8e8; }
  .checkbox_customCheckbox__3Cat0 input[type='checkbox']:not(:checked) ~ label:before {
    content: '';
    width: 11px;
    height: 10px;
    background: none;
    position: absolute;
    top: 2.5px;
    left: -8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0;
    visibility: hidden; }

.checkbox_customCheckboxDefault__21jaP input[type='checkbox']:focus ~ label:after {
  border-color: #7603db; }

.checkbox_customCheckboxDefault__21jaP input[type='checkbox']:checked ~ label:after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: -1.5px;
  left: -12px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
  border-color: #7603db; }

.checkbox_customCheckboxDefault__21jaP input[type='checkbox']:checked ~ label:before {
  content: '';
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMSI+ICA8cGF0aCBkPSJNMy4yNjQgMTAuNDg5TC40MjQgNy4zN2ExLjY4IDEuNjggMCAwIDEgMC0yLjIzMiAxLjQ0MiAxLjQ0MiAwIDAgMSAyLjE2IDBsMS43OTggMS45NzRMMTAuNDE2LjQ4NmExLjQ0MiAxLjQ0MiAwIDAgMSAyLjE2IDAgMS42OCAxLjY4IDAgMCAxIDAgMi4yMzNsLTcuMSA3Ljc5NWExLjQzOSAxLjQzOSAwIDAgMS0xLjczLjMzIDEuNTAxIDEuNTAxIDAgMCAxLS40ODItLjM1NXoiIGZpbGw9IiM3NjAzREIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
  position: absolute;
  top: 2.5px;
  left: -8px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 1;
  visibility: visible; }

.input_inputWrapper__15HsF {
  float: left;
  width: 100%;
  margin-bottom: 10px; }

.input_input__1DTEr {
  height: 60px;
  color: #7603db;
  background-color: #fef6ff;
  border: 1px solid #550d94;
  font-weight: 400;
  font-size: 0.9rem;
  font-family: "Poppins Bold Italic", Helvetica, Arial, sans-serif;
  border-radius: 6px;
  padding: 0.1em 1.3em;
  box-sizing: border-box;
  width: 100%; }
  .input_input__1DTEr::-webkit-input-placeholder {
    color: rgba(65, 0, 72, 0.769); }
  .input_input__1DTEr::-ms-input-placeholder {
    color: rgba(65, 0, 72, 0.769); }
  .input_input__1DTEr::placeholder {
    color: rgba(65, 0, 72, 0.769); }
  @media only screen and (max-width: 40em) {
    .input_input__1DTEr {
      margin-bottom: 0.8em; } }

.input_input__1DTEr:focus {
  background-color: white;
  border-color: #7603db;
  outline: none; }

input.input_input__1DTEr[type="date"]:before {
  content: attr(placeholder) ":" !important;
  color: #aaa;
  margin-right: 0.5em; }

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "" !important; }

::-webkit-input-placeholder {
  color: #9da1b4; }

::-ms-input-placeholder {
  color: #9da1b4; }

::placeholder {
  color: #9da1b4; }

@-webkit-keyframes loading_spinMove__3wD8P {
  to {
    opacity: 1; } }

@keyframes loading_spinMove__3wD8P {
  to {
    opacity: 1; } }

@-webkit-keyframes loading_spinRotate__2tTPI {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg); } }

@keyframes loading_spinRotate__2tTPI {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg); } }

.loading_loading__1cmU5 {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1000; }
  .loading_loading__1cmU5 .loading_spin__3IUp- {
    box-sizing: border-box;
    color: #7603db;
    display: none;
    font-size: 14px;
    line-height: 100vh;
    list-style: none;
    margin: 0 16px 0 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    vertical-align: middle; }
    .loading_loading__1cmU5 .loading_spin__3IUp-.loading_spinning__2WJag {
      display: inline-block;
      opacity: 1;
      position: static; }
    .loading_loading__1cmU5 .loading_spin__3IUp- .loading_spinDot__2IC54 {
      display: inline-block;
      height: 32px;
      position: relative;
      width: 32px; }
      .loading_loading__1cmU5 .loading_spin__3IUp- .loading_spinDot__2IC54.loading_spinDotSpin__2Bepj {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-animation: loading_spinRotate__2tTPI 1.2s infinite linear;
                animation: loading_spinRotate__2tTPI 1.2s infinite linear; }
      .loading_loading__1cmU5 .loading_spin__3IUp- .loading_spinDot__2IC54 i {
        -webkit-animation: loading_spinMove__3wD8P 1s infinite linear alternate;
                animation: loading_spinMove__3wD8P 1s infinite linear alternate;
        background-color: #7603db;
        border-radius: 100%;
        display: block;
        height: 14px;
        opacity: 0.3;
        position: absolute;
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
        width: 14px; }
        .loading_loading__1cmU5 .loading_spin__3IUp- .loading_spinDot__2IC54 i:first-child {
          left: 0;
          top: 0; }
        .loading_loading__1cmU5 .loading_spin__3IUp- .loading_spinDot__2IC54 i:nth-child(2) {
          right: 0;
          top: 0;
          -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
        .loading_loading__1cmU5 .loading_spin__3IUp- .loading_spinDot__2IC54 i:nth-child(3) {
          right: 0;
          bottom: 0;
          -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }
        .loading_loading__1cmU5 .loading_spin__3IUp- .loading_spinDot__2IC54 i:nth-child(4) {
          left: 0;
          bottom: 0;
          -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

.sideTrack_sideTrackCallOut__1RBl4 {
  position: relative;
  top: -20px;
  background-color: #da0dff;
  padding-bottom: 3em; }
  @media only screen and (min-width: 111em) {
    .sideTrack_sideTrackCallOut__1RBl4 {
      left: auto;
      width: 300px;
      right: 44px;
      top: 400px;
      position: absolute; } }
  @media only screen and (min-width: 52em) {
    .sideTrack_sideTrackCallOut__1RBl4 {
      background-color: transparent;
      padding-bottom: 0;
      transition: all 0.3s ease-in;
      z-index: 11;
      width: 310px;
      top: -30px; }
      .sideTrack_sideTrackCallOut__1RBl4.sideTrack_left__o1zbj {
        left: 25px; }
      .sideTrack_sideTrackCallOut__1RBl4.sideTrack_right__23P7d {
        right: 25px; } }

@media only screen and (min-width: 52em) {
  .sideTrack_sideTrackCallOutWrapper__2v49E {
    position: absolute; } }

.sideTrack_sideTrackText__2qgzg {
  background-color: #da0dff;
  padding: 2em 1.7em 1em;
  color: white; }
  @media only screen and (min-width: 64em) {
    .sideTrack_sideTrackText__2qgzg {
      padding: 2em 1.7em 1em; } }
  @media only screen and (min-width: 52em) {
    .sideTrack_sideTrackText__2qgzg {
      border-radius: 3px;
      padding: 2.3em 2em 1.2em; } }
  .sideTrack_sideTrackText__2qgzg p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 0.9rem; }
    .sideTrack_sideTrackText__2qgzg p .sideTrack_whiteColor__2lIbv {
      color: white; }

.sideTrack_sideTrackTitle__4EKGL {
  margin-bottom: 1rem;
  font-weight: 700;
  font-style: italic;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 18px; }

.sideTrack_emojiWrap__3OFxa {
  padding: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  font-size: 30px;
  position: absolute;
  display: inline-block; }
  @media only screen and (min-width: 52em) {
    .sideTrack_emojiWrap__3OFxa {
      bottom: -20px; } }

.textbox_inputWrapper__3kKzP {
  float: left;
  width: 100%;
  margin-bottom: 10px; }

.textbox_input__28zw5 {
  height: 60px;
  color: #7603db;
  background-color: #fef6ff;
  border: 1px solid #550d94;
  font-weight: 400;
  font-size: 0.9rem;
  font-family: "Poppins Bold Italic", Helvetica, Arial, sans-serif;
  border-radius: 6px;
  padding: 0.1em 1.3em;
  box-sizing: border-box;
  width: 100%; }
  .textbox_input__28zw5::-webkit-input-placeholder {
    color: rgba(65, 0, 72, 0.769); }
  .textbox_input__28zw5::-ms-input-placeholder {
    color: rgba(65, 0, 72, 0.769); }
  .textbox_input__28zw5::placeholder {
    color: rgba(65, 0, 72, 0.769); }
  @media only screen and (max-width: 40em) {
    .textbox_input__28zw5 {
      margin-bottom: 0.8em; } }

.textbox_input__28zw5:focus {
  background-color: white;
  border-color: #7603db;
  outline: none; }

input.textbox_input__28zw5[type="date"]:before {
  content: attr(placeholder) ":" !important;
  color: #aaa;
  margin-right: 0.5em; }

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "" !important; }

::-webkit-input-placeholder {
  color: #9da1b4; }

::-ms-input-placeholder {
  color: #9da1b4; }

::placeholder {
  color: #9da1b4; }

.textbox_textarea__1643J {
  padding: 1rem;
  margin: 0px;
  height: 259px;
  width: 784px; }

.title_gradientTitle__umzEw {
  background: linear-gradient(135deg, #31e9ff, #da0dff);
  font-family: "blackhawk_italicregular";
  color: white;
  line-height: 2rem;
  display: inline-block;
  padding: 0.2em 0 0.4em;
  outline: none;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  position: relative;
  z-index: 1;
  font-size: 4rem;
  font-weight: 100;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }
  @media screen and (min-width: 40em) {
    .title_gradientTitle__umzEw {
      line-height: 3rem; } }

.title_blockTitle__3xxg9 {
  color: #da0dff;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  text-align: left;
  display: block;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  font-style: italic; }

.title_mainTitle__1sBrw {
  color: white;
  line-height: 1.125;
  margin-bottom: 2rem;
  display: inline-block;
  font-size: 1rem;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic; }
  @media screen and (min-width: 52em) {
    .title_mainTitle__1sBrw {
      font-size: 1.6rem; } }
  @media screen and (min-width: 64em) {
    .title_mainTitle__1sBrw {
      font-size: 2.8rem; } }


