.avatar_profileAvatar__2e35h {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  color: white;
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
  background: #a3a3a3;
  overflow: hidden; }
  .avatar_profileAvatar__2e35h > img {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 48px;
    border-style: none; }

.button_container__2e208 {
  margin: 0 auto;
  text-align: center;
  float: left;
  width: 100%;
  position: relative; }

.button_buttonGroup__2oYMv {
  position: relative;
  width: auto;
  display: block; }

.button_button__C1Icx {
  font-family: "Poppins Bold Italic", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  background-color: #7603db;
  padding: 1rem 4rem;
  cursor: pointer;
  opacity: 1;
  border-radius: 90px;
  border: 0;
  transition: all 0.1s ease-in-out;
  outline: none; }
  .button_button__C1Icx:hover {
    background-color: #da0dff; }
  .button_button__C1Icx:disabled, .button_button__C1Icx[disabled] {
    background-color: #666666;
    color: white;
    cursor: not-allowed; }

.button_underneathLabel__pm1Ru {
  font-family: "Poppins Bold Italic", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 0.8rem;
  color: #7603db;
  display: block;
  margin-top: 1rem; }

.button_linkButton__1B2Le {
  cursor: pointer;
  padding: 1rem 2.5rem;
  background-color: #7603db;
  text-align: center;
  transition: all 0.1s linear;
  color: white;
  border-radius: 90px;
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
  opacity: 1;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", Helvetica, Arial, sans-serif; }
  @media screen and (min-width: 52em) {
    .button_linkButton__1B2Le {
      padding: 0.7rem 2.2rem; } }
  @media screen and (min-width: 64em) {
    .button_linkButton__1B2Le {
      padding: 1rem 2.5rem; } }

.checkbox_customCheckbox__15cld input[type='checkbox'] {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .checkbox_customCheckbox__15cld input[type='checkbox'] ~ label {
    position: relative;
    cursor: pointer;
    padding-left: 1rem;
    margin-left: 1rem;
    transition: ease 0.1s color; }
    .checkbox_customCheckbox__15cld input[type='checkbox'] ~ label:hover {
      color: #666666; }
  .checkbox_customCheckbox__15cld input[type='checkbox']:not(:checked) ~ label:after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: -1.5px;
    left: -12px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
    border-color: #e8e8e8; }
  .checkbox_customCheckbox__15cld input[type='checkbox']:not(:checked) ~ label:before {
    content: '';
    width: 11px;
    height: 10px;
    background: none;
    position: absolute;
    top: 2.5px;
    left: -8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0;
    visibility: hidden; }

.checkbox_customCheckboxDefault__HM2_i input[type='checkbox']:focus ~ label:after {
  border-color: #7603db; }

.checkbox_customCheckboxDefault__HM2_i input[type='checkbox']:checked ~ label:after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: -1.5px;
  left: -12px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
  border-color: #7603db; }

.checkbox_customCheckboxDefault__HM2_i input[type='checkbox']:checked ~ label:before {
  content: '';
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMSI+ICA8cGF0aCBkPSJNMy4yNjQgMTAuNDg5TC40MjQgNy4zN2ExLjY4IDEuNjggMCAwIDEgMC0yLjIzMiAxLjQ0MiAxLjQ0MiAwIDAgMSAyLjE2IDBsMS43OTggMS45NzRMMTAuNDE2LjQ4NmExLjQ0MiAxLjQ0MiAwIDAgMSAyLjE2IDAgMS42OCAxLjY4IDAgMCAxIDAgMi4yMzNsLTcuMSA3Ljc5NWExLjQzOSAxLjQzOSAwIDAgMS0xLjczLjMzIDEuNTAxIDEuNTAxIDAgMCAxLS40ODItLjM1NXoiIGZpbGw9IiM3NjAzREIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
  position: absolute;
  top: 2.5px;
  left: -8px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 1;
  visibility: visible; }

.input_inputWrapper__qEwOA {
  float: left;
  width: 100%;
  margin-bottom: 10px; }

.input_input__38ZzY {
  height: 60px;
  color: #7603db;
  background-color: #fef6ff;
  border: 1px solid #550d94;
  font-weight: 400;
  font-size: 0.9rem;
  font-family: "Poppins Bold Italic", Helvetica, Arial, sans-serif;
  border-radius: 6px;
  padding: 0.1em 1.3em;
  box-sizing: border-box;
  width: 100%; }
  .input_input__38ZzY::-webkit-input-placeholder {
    color: rgba(65, 0, 72, 0.769); }
  .input_input__38ZzY::-ms-input-placeholder {
    color: rgba(65, 0, 72, 0.769); }
  .input_input__38ZzY::placeholder {
    color: rgba(65, 0, 72, 0.769); }
  @media only screen and (max-width: 40em) {
    .input_input__38ZzY {
      margin-bottom: 0.8em; } }

.input_input__38ZzY:focus {
  background-color: white;
  border-color: #7603db;
  outline: none; }

::-webkit-input-placeholder {
  color: #9da1b4; }

::-ms-input-placeholder {
  color: #9da1b4; }

::placeholder {
  color: #9da1b4; }

@-webkit-keyframes loading_spinMove__2ZYDQ {
  to {
    opacity: 1; } }

@keyframes loading_spinMove__2ZYDQ {
  to {
    opacity: 1; } }

@-webkit-keyframes loading_spinRotate__vRK0l {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg); } }

@keyframes loading_spinRotate__vRK0l {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg); } }

.loading_loading__2kcFa {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1000; }
  .loading_loading__2kcFa .loading_spin__3_cPE {
    box-sizing: border-box;
    color: #7603db;
    display: none;
    font-size: 14px;
    line-height: 100vh;
    list-style: none;
    margin: 0 16px 0 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    vertical-align: middle; }
    .loading_loading__2kcFa .loading_spin__3_cPE.loading_spinning__2cUTO {
      display: inline-block;
      opacity: 1;
      position: static; }
    .loading_loading__2kcFa .loading_spin__3_cPE .loading_spinDot__MRCUv {
      display: inline-block;
      height: 32px;
      position: relative;
      width: 32px; }
      .loading_loading__2kcFa .loading_spin__3_cPE .loading_spinDot__MRCUv.loading_spinDotSpin__1iegR {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-animation: loading_spinRotate__vRK0l 1.2s infinite linear;
                animation: loading_spinRotate__vRK0l 1.2s infinite linear; }
      .loading_loading__2kcFa .loading_spin__3_cPE .loading_spinDot__MRCUv i {
        -webkit-animation: loading_spinMove__2ZYDQ 1s infinite linear alternate;
                animation: loading_spinMove__2ZYDQ 1s infinite linear alternate;
        background-color: #7603db;
        border-radius: 100%;
        display: block;
        height: 14px;
        opacity: 0.3;
        position: absolute;
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
        width: 14px; }
        .loading_loading__2kcFa .loading_spin__3_cPE .loading_spinDot__MRCUv i:first-child {
          left: 0;
          top: 0; }
        .loading_loading__2kcFa .loading_spin__3_cPE .loading_spinDot__MRCUv i:nth-child(2) {
          right: 0;
          top: 0;
          -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
        .loading_loading__2kcFa .loading_spin__3_cPE .loading_spinDot__MRCUv i:nth-child(3) {
          right: 0;
          bottom: 0;
          -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }
        .loading_loading__2kcFa .loading_spin__3_cPE .loading_spinDot__MRCUv i:nth-child(4) {
          left: 0;
          bottom: 0;
          -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

.textbox_inputWrapper__2hC6p {
  float: left;
  width: 100%;
  margin-bottom: 10px; }

.textbox_input__2T89F {
  height: 60px;
  color: #7603db;
  background-color: #fef6ff;
  border: 1px solid #550d94;
  font-weight: 400;
  font-size: 0.9rem;
  font-family: "Poppins Bold Italic", Helvetica, Arial, sans-serif;
  border-radius: 6px;
  padding: 0.1em 1.3em;
  box-sizing: border-box;
  width: 100%; }
  .textbox_input__2T89F::-webkit-input-placeholder {
    color: rgba(65, 0, 72, 0.769); }
  .textbox_input__2T89F::-ms-input-placeholder {
    color: rgba(65, 0, 72, 0.769); }
  .textbox_input__2T89F::placeholder {
    color: rgba(65, 0, 72, 0.769); }
  @media only screen and (max-width: 40em) {
    .textbox_input__2T89F {
      margin-bottom: 0.8em; } }

.textbox_input__2T89F:focus {
  background-color: white;
  border-color: #7603db;
  outline: none; }

::-webkit-input-placeholder {
  color: #9da1b4; }

::-ms-input-placeholder {
  color: #9da1b4; }

::placeholder {
  color: #9da1b4; }

.textbox_textarea__1hN90 {
  padding: 1rem;
  margin: 0px;
  height: 259px;
  width: 784px; }

.title_gradientTitle__3Jc7M {
  line-height: 2rem;
  display: inline-block;
  padding: 0.2em 0 0.4em;
  background: linear-gradient(135deg, #31e9ff, #da0dff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  outline: none;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  color: white;
  position: relative;
  z-index: 1;
  font-family: "blackhawk_italicregular";
  font-size: 4rem;
  font-weight: 100; }
  @media screen and (min-width: 40em) {
    .title_gradientTitle__3Jc7M {
      line-height: 3rem; } }

.title_blockTitle__3iEDu {
  color: #da0dff;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  text-align: left;
  display: block;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  font-style: italic; }

.title_mainTitle__2p3bg {
  color: white;
  line-height: 1.125;
  margin-bottom: 2rem;
  display: inline-block;
  font-size: 1rem;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic; }
  @media screen and (min-width: 52em) {
    .title_mainTitle__2p3bg {
      font-size: 1.6rem; } }
  @media screen and (min-width: 64em) {
    .title_mainTitle__2p3bg {
      font-size: 2.8rem; } }

@-webkit-keyframes videoPlayer_plyr-progress__3sDpQ {
  to {
    background-position: 25px 0; } }

@keyframes videoPlayer_plyr-progress__3sDpQ {
  to {
    background-position: 25px 0; } }

@-webkit-keyframes videoPlayer_plyr-popup__3A4zX {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes videoPlayer_plyr-popup__3A4zX {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes videoPlayer_plyr-fade-in__2HPDn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes videoPlayer_plyr-fade-in__2HPDn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.videoPlayer_plyr__2FjQQ {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
  font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: "tnum";
          font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  line-height: 1.7;
  max-width: 100%;
  min-width: 200px;
  position: relative;
  text-shadow: none;
  transition: box-shadow 0.3s ease; }
  .videoPlayer_plyr__2FjQQ video,
  .videoPlayer_plyr__2FjQQ audio {
    border-radius: inherit;
    height: auto;
    vertical-align: middle;
    width: 100%; }
  .videoPlayer_plyr__2FjQQ button {
    font: inherit;
    line-height: inherit;
    width: auto; }
  .videoPlayer_plyr__2FjQQ:focus {
    outline: 0; }

.videoPlayer_plyr--full-ui__11EYw {
  box-sizing: border-box; }
  .videoPlayer_plyr--full-ui__11EYw *,
  .videoPlayer_plyr--full-ui__11EYw *::after,
  .videoPlayer_plyr--full-ui__11EYw *::before {
    box-sizing: inherit; }

.videoPlayer_plyr--full-ui__11EYw a,
.videoPlayer_plyr--full-ui__11EYw button,
.videoPlayer_plyr--full-ui__11EYw input,
.videoPlayer_plyr--full-ui__11EYw label {
  touch-action: manipulation; }

.videoPlayer_plyr__badge__rFDrf {
  background: #4f5b5f;
  border-radius: 2px;
  color: #fff;
  font-size: 9px;
  line-height: 1;
  padding: 3px 4px; }

.videoPlayer_plyr--full-ui__11EYw ::-webkit-media-text-track-container {
  display: none; }

.videoPlayer_plyr__captions__2Cl8W {
  -webkit-animation: videoPlayer_plyr-fade-in__2HPDn 0.3s ease;
          animation: videoPlayer_plyr-fade-in__2HPDn 0.3s ease;
  bottom: 0;
  color: #fff;
  display: none;
  font-size: 14px;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  width: 100%; }
  .videoPlayer_plyr__captions__2Cl8W .videoPlayer_plyr__caption__cWAzU {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    line-height: 185%;
    padding: 0.2em 0.5em;
    white-space: pre-wrap; }
    .videoPlayer_plyr__captions__2Cl8W .videoPlayer_plyr__caption__cWAzU div {
      display: inline; }
  .videoPlayer_plyr__captions__2Cl8W span:empty {
    display: none; }
  @media (min-width: 480px) {
    .videoPlayer_plyr__captions__2Cl8W {
      font-size: 16px;
      padding: 20px; } }
  @media (min-width: 768px) {
    .videoPlayer_plyr__captions__2Cl8W {
      font-size: 18px; } }

.videoPlayer_plyr--captions-active__pqLbM .videoPlayer_plyr__captions__2Cl8W {
  display: block; }

.videoPlayer_plyr__2FjQQ:not(.videoPlayer_plyr--hide-controls__1fXuA) .videoPlayer_plyr__controls__1-32v:not(:empty) ~ .videoPlayer_plyr__captions__2Cl8W {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px); }

.videoPlayer_plyr__control__2sxpq {
  background: transparent;
  border: 0;
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
  overflow: visible;
  padding: 7px;
  position: relative;
  transition: all 0.3s ease; }
  .videoPlayer_plyr__control__2sxpq svg {
    display: block;
    fill: currentColor;
    height: 18px;
    pointer-events: none;
    width: 18px; }
  .videoPlayer_plyr__control__2sxpq:focus {
    outline: 0; }
  .videoPlayer_plyr__control__2sxpq.videoPlayer_plyr__tab-focus__3QDq8 {
    box-shadow: 0 0 0 5px rgba(26, 175, 255, 0.5);
    outline: 0; }

a.videoPlayer_plyr__control__2sxpq {
  text-decoration: none; }
  a.videoPlayer_plyr__control__2sxpq::after, a.videoPlayer_plyr__control__2sxpq::before {
    display: none; }

.videoPlayer_plyr__control__2sxpq:not(.videoPlayer_plyr__control--pressed__1klTb) .videoPlayer_icon--pressed__1SV4_,
.videoPlayer_plyr__control__2sxpq.videoPlayer_plyr__control--pressed__1klTb .videoPlayer_icon--not-pressed__2CS5W,
.videoPlayer_plyr__control__2sxpq:not(.videoPlayer_plyr__control--pressed__1klTb) .videoPlayer_label--pressed__1uIXe,
.videoPlayer_plyr__control__2sxpq.videoPlayer_plyr__control--pressed__1klTb .videoPlayer_label--not-pressed__w2tFh {
  display: none; }

.videoPlayer_plyr--audio__2Uan3 .videoPlayer_plyr__control__2sxpq.videoPlayer_plyr__tab-focus__3QDq8, .videoPlayer_plyr--audio__2Uan3 .videoPlayer_plyr__control__2sxpq:hover, .videoPlayer_plyr--audio__2Uan3 .videoPlayer_plyr__control__2sxpq[aria-expanded='true'] {
  background: #1aafff;
  color: #fff; }

.videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__control__2sxpq svg {
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.15)); }

.videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__control__2sxpq.videoPlayer_plyr__tab-focus__3QDq8, .videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__control__2sxpq:hover, .videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__control__2sxpq[aria-expanded='true'] {
  background: #1aafff;
  color: #fff; }

.videoPlayer_plyr__control--overlaid__1vfUK {
  background: rgba(26, 175, 255, 0.8);
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #fff;
  display: none;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2; }
  .videoPlayer_plyr__control--overlaid__1vfUK svg {
    left: 2px;
    position: relative; }
  .videoPlayer_plyr__control--overlaid__1vfUK:hover, .videoPlayer_plyr__control--overlaid__1vfUK:focus {
    background: #1aafff; }

.videoPlayer_plyr--playing__2n0Vb .videoPlayer_plyr__control--overlaid__1vfUK {
  opacity: 0;
  visibility: hidden; }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__control--overlaid__1vfUK {
  display: block; }

.videoPlayer_plyr--full-ui__11EYw ::-webkit-media-controls {
  display: none; }

.videoPlayer_plyr__controls__1-32v {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center; }
  .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq,
  .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__progress__15bsr,
  .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__time__13y6i,
  .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__menu__3clsq,
  .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__volume__3rjsL {
    margin-left: 5px; }
  .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__menu__3clsq + .videoPlayer_plyr__control__2sxpq,
  .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq + .videoPlayer_plyr__menu__3clsq,
  .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq + .videoPlayer_plyr__control__2sxpq,
  .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__progress__15bsr + .videoPlayer_plyr__control__2sxpq {
    margin-left: 2px; }
  .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child,
  .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child + [data-plyr='pause'] {
    margin-left: 0;
    margin-right: auto; }
  .videoPlayer_plyr__controls__1-32v:empty {
    display: none; }
  @media (min-width: 480px) {
    .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq,
    .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__menu__3clsq,
    .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__progress__15bsr,
    .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__time__13y6i,
    .videoPlayer_plyr__controls__1-32v .videoPlayer_plyr__volume__3rjsL {
      margin-left: 10px; } }

.videoPlayer_plyr--audio__2Uan3 .videoPlayer_plyr__controls__1-32v {
  background: #fff;
  border-radius: inherit;
  color: #4f5b5f;
  padding: 10px; }

.videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__controls__1-32v {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 20px 5px 5px;
  position: absolute;
  right: 0;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  z-index: 3; }
  @media (min-width: 480px) {
    .videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__controls__1-32v {
      padding: 35px 10px 10px; } }

.videoPlayer_plyr--video__3_h6H.videoPlayer_plyr--hide-controls__1fXuA .videoPlayer_plyr__controls__1-32v {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.videoPlayer_plyr__2FjQQ [data-plyr='captions'],
.videoPlayer_plyr__2FjQQ [data-plyr='pip'],
.videoPlayer_plyr__2FjQQ [data-plyr='airplay'],
.videoPlayer_plyr__2FjQQ [data-plyr='fullscreen'] {
  display: none; }

.videoPlayer_plyr--captions-enabled__3oP-l [data-plyr='captions'],
.videoPlayer_plyr--pip-supported__17Bs7 [data-plyr='pip'],
.videoPlayer_plyr--airplay-supported__1gZGE [data-plyr='airplay'],
.videoPlayer_plyr--fullscreen-enabled__3HgrJ [data-plyr='fullscreen'] {
  display: inline-block; }

.videoPlayer_plyr__video-embed__3YG72 {
  height: 0;
  padding-bottom: 56.25%;
  position: relative; }
  .videoPlayer_plyr__video-embed__3YG72 iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%; }

.videoPlayer_plyr--full-ui__11EYw .videoPlayer_plyr__video-embed__3YG72 > .videoPlayer_plyr__video-embed__container__2SjKm {
  padding-bottom: 240%;
  position: relative;
  -webkit-transform: translateY(-38.28125%);
          transform: translateY(-38.28125%); }

.videoPlayer_plyr__menu__3clsq {
  display: flex;
  position: relative; }
  .videoPlayer_plyr__menu__3clsq .videoPlayer_plyr__control__2sxpq svg {
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .videoPlayer_plyr__menu__3clsq .videoPlayer_plyr__control__2sxpq[aria-expanded='true'] svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .videoPlayer_plyr__menu__3clsq .videoPlayer_plyr__control__2sxpq[aria-expanded='true'] .videoPlayer_plyr__tooltip__rhcfe {
    display: none; }
  .videoPlayer_plyr__menu__container__q3l3h {
    -webkit-animation: videoPlayer_plyr-popup__3A4zX 0.2s ease;
            animation: videoPlayer_plyr-popup__3A4zX 0.2s ease;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    bottom: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #4f5b5f;
    font-size: 16px;
    margin-bottom: 10px;
    position: absolute;
    right: -3px;
    text-align: left;
    white-space: nowrap;
    z-index: 3; }
    .videoPlayer_plyr__menu__container__q3l3h > div {
      overflow: hidden;
      transition: height 0.35s cubic-bezier(0.4, 0, 0.2, 1), width 0.35s cubic-bezier(0.4, 0, 0.2, 1); }
    .videoPlayer_plyr__menu__container__q3l3h::after {
      border: 4px solid transparent;
      border-top-color: rgba(255, 255, 255, 0.9);
      content: '';
      height: 0;
      position: absolute;
      right: 15px;
      top: 100%;
      width: 0; }
    .videoPlayer_plyr__menu__container__q3l3h [role='menu'] {
      padding: 7px; }
    .videoPlayer_plyr__menu__container__q3l3h [role='menuitem'],
    .videoPlayer_plyr__menu__container__q3l3h [role='menuitemradio'] {
      margin-top: 2px; }
      .videoPlayer_plyr__menu__container__q3l3h [role='menuitem']:first-child,
      .videoPlayer_plyr__menu__container__q3l3h [role='menuitemradio']:first-child {
        margin-top: 0; }
    .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq {
      align-items: center;
      color: #4f5b5f;
      display: flex;
      font-size: 14px;
      padding: 4px 11px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      width: 100%; }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq > span {
        align-items: inherit;
        display: flex;
        width: 100%; }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq::after {
        border: 4px solid transparent;
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--forward__2e633 {
        padding-right: 28px; }
        .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--forward__2e633::after {
          border-left-color: rgba(79, 91, 95, 0.8);
          right: 5px; }
        .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--forward__2e633.videoPlayer_plyr__tab-focus__3QDq8::after, .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--forward__2e633:hover::after {
          border-left-color: currentColor; }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--back__ARfp_ {
        font-weight: 500;
        margin: 7px;
        margin-bottom: 3px;
        padding-left: 28px;
        position: relative;
        width: calc(100% - 14px); }
        .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--back__ARfp_::after {
          border-right-color: rgba(79, 91, 95, 0.8);
          left: 7px; }
        .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--back__ARfp_::before {
          background: #b7c5cd;
          box-shadow: 0 1px 0 #fff;
          content: '';
          height: 1px;
          left: 0;
          margin-top: 4px;
          overflow: hidden;
          position: absolute;
          right: 0;
          top: 100%; }
        .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--back__ARfp_.videoPlayer_plyr__tab-focus__3QDq8::after, .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control--back__ARfp_:hover::after {
          border-right-color: currentColor; }
    .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio'] {
      padding-left: 7px; }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio']::before, .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio']::after {
        border-radius: 100%; }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio']::before {
        background: rgba(0, 0, 0, 0.1);
        content: '';
        display: block;
        flex-shrink: 0;
        height: 16px;
        margin-right: 10px;
        transition: all 0.3s ease;
        width: 16px; }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio']::after {
        background: #fff;
        border: 0;
        height: 6px;
        left: 12px;
        opacity: 0;
        top: 50%;
        -webkit-transform: translateY(-50%) scale(0);
                transform: translateY(-50%) scale(0);
        transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
        width: 6px; }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio'][aria-checked='true']::before {
        background: #1aafff; }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio'][aria-checked='true']::after {
        opacity: 1;
        -webkit-transform: translateY(-50%) scale(1);
                transform: translateY(-50%) scale(1); }
      .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio'].videoPlayer_plyr__tab-focus__3QDq8::before, .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__control__2sxpq[role='menuitemradio']:hover::before {
        background: rgba(0, 0, 0, 0.1); }
    .videoPlayer_plyr__menu__container__q3l3h .videoPlayer_plyr__menu__value__1BwuJ {
      align-items: center;
      display: flex;
      margin-left: auto;
      margin-right: -5px;
      overflow: hidden;
      padding-left: 25px;
      pointer-events: none; }

.videoPlayer_plyr--full-ui__11EYw input[type='range'] {
  -webkit-appearance: none;
  /* stylelint-disable-line */
  background: transparent;
  border: 0;
  border-radius: 26px;
  color: #1aafff;
  display: block;
  height: 19px;
  margin: 0;
  padding: 0;
  transition: box-shadow 0.3s ease;
  width: 100%; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-webkit-slider-runnable-track {
    background: transparent;
    border: 0;
    border-radius: 2.5px;
    height: 5px;
    transition: box-shadow 0.3s ease;
    -webkit-user-select: none;
            user-select: none;
    background-image: linear-gradient(to right, currentColor 0%, transparent 0%);
    background-image: linear-gradient(to right, currentColor var(--value, 0%), transparent var(--value, 0%)); }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-webkit-slider-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2);
    height: 13px;
    position: relative;
    transition: all 0.2s ease;
    width: 13px;
    -webkit-appearance: none;
    /* stylelint-disable-line */
    margin-top: -4px; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-moz-range-track {
    background: transparent;
    border: 0;
    border-radius: 2.5px;
    height: 5px;
    transition: box-shadow 0.3s ease;
    -moz-user-select: none;
         user-select: none; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-moz-range-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2);
    height: 13px;
    position: relative;
    transition: all 0.2s ease;
    width: 13px; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-moz-range-progress {
    background: currentColor;
    border-radius: 2.5px;
    height: 5px; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-ms-track {
    background: transparent;
    border: 0;
    border-radius: 2.5px;
    height: 5px;
    transition: box-shadow 0.3s ease;
    -ms-user-select: none;
        user-select: none;
    color: transparent; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-ms-fill-upper {
    background: transparent;
    border: 0;
    border-radius: 2.5px;
    height: 5px;
    transition: box-shadow 0.3s ease;
    -ms-user-select: none;
        user-select: none; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-ms-fill-lower {
    background: transparent;
    border: 0;
    border-radius: 2.5px;
    height: 5px;
    transition: box-shadow 0.3s ease;
    -ms-user-select: none;
        user-select: none;
    background: currentColor; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-ms-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2);
    height: 13px;
    position: relative;
    transition: all 0.2s ease;
    width: 13px;
    margin-top: 0; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-ms-tooltip {
    display: none; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']:focus {
    outline: 0; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range']::-moz-focus-outer {
    border: 0; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range'].videoPlayer_plyr__tab-focus__3QDq8::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 5px rgba(26, 175, 255, 0.5);
    outline: 0; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range'].videoPlayer_plyr__tab-focus__3QDq8::-moz-range-track {
    box-shadow: 0 0 0 5px rgba(26, 175, 255, 0.5);
    outline: 0; }
  .videoPlayer_plyr--full-ui__11EYw input[type='range'].videoPlayer_plyr__tab-focus__3QDq8::-ms-track {
    box-shadow: 0 0 0 5px rgba(26, 175, 255, 0.5);
    outline: 0; }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--video__3_h6H input[type='range']::-webkit-slider-runnable-track {
  background-color: rgba(255, 255, 255, 0.25); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--video__3_h6H input[type='range']::-moz-range-track {
  background-color: rgba(255, 255, 255, 0.25); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--video__3_h6H input[type='range']::-ms-track {
  background-color: rgba(255, 255, 255, 0.25); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--video__3_h6H input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.5); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--video__3_h6H input[type='range']:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.5); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--video__3_h6H input[type='range']:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.5); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--audio__2Uan3 input[type='range']::-webkit-slider-runnable-track {
  background-color: rgba(183, 197, 205, 0.66); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--audio__2Uan3 input[type='range']::-moz-range-track {
  background-color: rgba(183, 197, 205, 0.66); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--audio__2Uan3 input[type='range']::-ms-track {
  background-color: rgba(183, 197, 205, 0.66); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--audio__2Uan3 input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.1); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--audio__2Uan3 input[type='range']:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.1); }

.videoPlayer_plyr--full-ui__11EYw.videoPlayer_plyr--audio__2Uan3 input[type='range']:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(47, 52, 61, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.1); }

.videoPlayer_plyr__poster__32cVv {
  background-color: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  z-index: 1; }

.videoPlayer_plyr--stopped__1miVC.videoPlayer_plyr__poster-enabled__2p_lR .videoPlayer_plyr__poster__32cVv {
  opacity: 1; }

.videoPlayer_plyr__time__13y6i {
  font-size: 14px; }

.videoPlayer_plyr__time__13y6i + .videoPlayer_plyr__time__13y6i::before {
  content: '\2044';
  margin-right: 10px; }

@media (max-width: 767px) {
  .videoPlayer_plyr__time__13y6i + .videoPlayer_plyr__time__13y6i {
    display: none; } }

.videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__time__13y6i {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.videoPlayer_plyr__tooltip__rhcfe {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #4f5b5f;
  font-size: 14px;
  font-weight: 500;
  left: 50%;
  line-height: 1.3;
  margin-bottom: 10px;
  opacity: 0;
  padding: 5px 7.5px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate(-50%, 10px) scale(0.8);
          transform: translate(-50%, 10px) scale(0.8);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  transition: opacity 0.2s 0.1s ease, -webkit-transform 0.2s 0.1s ease;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease, -webkit-transform 0.2s 0.1s ease;
  white-space: nowrap;
  z-index: 2; }
  .videoPlayer_plyr__tooltip__rhcfe::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(255, 255, 255, 0.9);
    bottom: -4px;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    z-index: 2; }

.videoPlayer_plyr__2FjQQ .videoPlayer_plyr__control__2sxpq:hover .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__2FjQQ .videoPlayer_plyr__control__2sxpq.videoPlayer_plyr__tab-focus__3QDq8 .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__tooltip--visible__3tJ9d {
  opacity: 1;
  -webkit-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1); }

.videoPlayer_plyr__2FjQQ .videoPlayer_plyr__control__2sxpq:hover .videoPlayer_plyr__tooltip__rhcfe {
  z-index: 3; }

.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child + .videoPlayer_plyr__control__2sxpq .videoPlayer_plyr__tooltip__rhcfe {
  left: 0;
  -webkit-transform: translate(0, 10px) scale(0.8);
          transform: translate(0, 10px) scale(0.8);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%; }
  .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child .videoPlayer_plyr__tooltip__rhcfe::before,
  .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child + .videoPlayer_plyr__control__2sxpq .videoPlayer_plyr__tooltip__rhcfe::before {
    left: 16px; }

.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:last-child .videoPlayer_plyr__tooltip__rhcfe {
  left: auto;
  right: 0;
  -webkit-transform: translate(0, 10px) scale(0.8);
          transform: translate(0, 10px) scale(0.8);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%; }
  .videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:last-child .videoPlayer_plyr__tooltip__rhcfe::before {
    left: auto;
    right: 16px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }

.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child:hover .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child.videoPlayer_plyr__tab-focus__3QDq8 .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child .videoPlayer_plyr__tooltip--visible__3tJ9d,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child + .videoPlayer_plyr__control__2sxpq:hover .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child + .videoPlayer_plyr__control__2sxpq.videoPlayer_plyr__tab-focus__3QDq8 .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:first-child + .videoPlayer_plyr__control__2sxpq .videoPlayer_plyr__tooltip--visible__3tJ9d,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:last-child:hover .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:last-child.videoPlayer_plyr__tab-focus__3QDq8 .videoPlayer_plyr__tooltip__rhcfe,
.videoPlayer_plyr__controls__1-32v > .videoPlayer_plyr__control__2sxpq:last-child .videoPlayer_plyr__tooltip--visible__3tJ9d {
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1); }

.videoPlayer_plyr--video__3_h6H {
  background: #000;
  overflow: hidden; }
  .videoPlayer_plyr--video__3_h6H.videoPlayer_plyr--menu-open__pMDzd {
    overflow: visible; }

.videoPlayer_plyr__video-wrapper__21JUe {
  background: #000;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  z-index: 0; }

.videoPlayer_plyr__progress__15bsr {
  flex: 1 1;
  left: 6.5px;
  margin-right: 13px;
  position: relative; }
  .videoPlayer_plyr__progress__15bsr input[type='range'], .videoPlayer_plyr__progress__buffer__1LNw1 {
    margin-left: -6.5px;
    margin-right: -6.5px;
    width: calc(100% + 13px); }
  .videoPlayer_plyr__progress__15bsr input[type='range'] {
    position: relative;
    z-index: 2; }
  .videoPlayer_plyr__progress__15bsr .videoPlayer_plyr__tooltip__rhcfe {
    font-size: 14px;
    left: 0; }

.videoPlayer_plyr__progress__buffer__1LNw1 {
  -webkit-appearance: none;
  /* stylelint-disable-line */
  background: transparent;
  border: 0;
  border-radius: 100px;
  height: 5px;
  left: 0;
  margin-top: -2.5px;
  padding: 0;
  position: absolute;
  top: 50%; }
  .videoPlayer_plyr__progress__buffer__1LNw1::-webkit-progress-bar {
    background: transparent; }
  .videoPlayer_plyr__progress__buffer__1LNw1::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: 5px;
    transition: width 0.2s ease; }
  .videoPlayer_plyr__progress__buffer__1LNw1::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: 5px;
    transition: width 0.2s ease; }
  .videoPlayer_plyr__progress__buffer__1LNw1::-ms-fill {
    border-radius: 100px;
    transition: width 0.2s ease; }

.videoPlayer_plyr--video__3_h6H .videoPlayer_plyr__progress__buffer__1LNw1 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.25); }

.videoPlayer_plyr--audio__2Uan3 .videoPlayer_plyr__progress__buffer__1LNw1 {
  color: rgba(183, 197, 205, 0.66); }

.videoPlayer_plyr--loading__2TstB .videoPlayer_plyr__progress__buffer__1LNw1 {
  -webkit-animation: videoPlayer_plyr-progress__3sDpQ 1s linear infinite;
          animation: videoPlayer_plyr-progress__3sDpQ 1s linear infinite;
  background-image: linear-gradient(-45deg, rgba(47, 52, 61, 0.6) 25%, transparent 25%, transparent 50%, rgba(47, 52, 61, 0.6) 50%, rgba(47, 52, 61, 0.6) 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  background-size: 25px 25px;
  color: transparent; }

.videoPlayer_plyr--video__3_h6H.videoPlayer_plyr--loading__2TstB .videoPlayer_plyr__progress__buffer__1LNw1 {
  background-color: rgba(255, 255, 255, 0.25); }

.videoPlayer_plyr--audio__2Uan3.videoPlayer_plyr--loading__2TstB .videoPlayer_plyr__progress__buffer__1LNw1 {
  background-color: rgba(183, 197, 205, 0.66); }

.videoPlayer_plyr__volume__3rjsL {
  align-items: center;
  display: flex;
  flex: 1 1;
  position: relative; }
  .videoPlayer_plyr__volume__3rjsL input[type='range'] {
    margin-left: 5px;
    position: relative;
    z-index: 2; }
  @media (min-width: 480px) {
    .videoPlayer_plyr__volume__3rjsL {
      max-width: 90px; } }
  @media (min-width: 768px) {
    .videoPlayer_plyr__volume__3rjsL {
      max-width: 110px; } }

.videoPlayer_plyr--is-ios__1UC5x .videoPlayer_plyr__volume__3rjsL {
  display: none !important; }

.videoPlayer_plyr--is-ios__1UC5x.videoPlayer_plyr--vimeo__cggUh [data-plyr='mute'] {
  display: none !important; }

.videoPlayer_plyr__2FjQQ:-webkit-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%; }

.videoPlayer_plyr__2FjQQ:-moz-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%; }

.videoPlayer_plyr__2FjQQ:fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%; }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen video {
    height: 100%; }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen video {
    height: 100%; }
  .videoPlayer_plyr__2FjQQ:fullscreen video {
    height: 100%; }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen .videoPlayer_plyr__video-wrapper__21JUe {
    height: 100%;
    width: 100%; }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen .videoPlayer_plyr__video-wrapper__21JUe {
    height: 100%;
    width: 100%; }
  .videoPlayer_plyr__2FjQQ:fullscreen .videoPlayer_plyr__video-wrapper__21JUe {
    height: 100%;
    width: 100%; }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen.videoPlayer_plyr--vimeo__cggUh .videoPlayer_plyr__video-wrapper__21JUe {
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen.videoPlayer_plyr--vimeo__cggUh .videoPlayer_plyr__video-wrapper__21JUe {
    height: 0;
    top: 50%;
    transform: translateY(-50%); }
  .videoPlayer_plyr__2FjQQ:fullscreen.videoPlayer_plyr--vimeo__cggUh .videoPlayer_plyr__video-wrapper__21JUe {
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh {
    display: block; }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh {
    display: block; }
  .videoPlayer_plyr__2FjQQ:fullscreen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh {
    display: block; }
    .videoPlayer_plyr__2FjQQ:-webkit-full-screen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh + svg {
      display: none; }
    .videoPlayer_plyr__2FjQQ:-moz-full-screen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh + svg {
      display: none; }
    .videoPlayer_plyr__2FjQQ:fullscreen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh + svg {
      display: none; }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen.videoPlayer_plyr--hide-controls__1fXuA {
    cursor: none; }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen.videoPlayer_plyr--hide-controls__1fXuA {
    cursor: none; }
  .videoPlayer_plyr__2FjQQ:fullscreen.videoPlayer_plyr--hide-controls__1fXuA {
    cursor: none; }
  @media (min-width: 1024px) {
    .videoPlayer_plyr__2FjQQ:-webkit-full-screen .videoPlayer_plyr__captions__2Cl8W {
      font-size: 21px; }
    .videoPlayer_plyr__2FjQQ:-moz-full-screen .videoPlayer_plyr__captions__2Cl8W {
      font-size: 21px; }
    .videoPlayer_plyr__2FjQQ:fullscreen .videoPlayer_plyr__captions__2Cl8W {
      font-size: 21px; } }

/* stylelint-disable-next-line */
.videoPlayer_plyr__2FjQQ:-webkit-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%; }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen video {
    height: 100%; }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen .videoPlayer_plyr__video-wrapper__21JUe {
    height: 100%;
    width: 100%; }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen.videoPlayer_plyr--vimeo__cggUh .videoPlayer_plyr__video-wrapper__21JUe {
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh {
    display: block; }
    .videoPlayer_plyr__2FjQQ:-webkit-full-screen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh + svg {
      display: none; }
  .videoPlayer_plyr__2FjQQ:-webkit-full-screen.videoPlayer_plyr--hide-controls__1fXuA {
    cursor: none; }
  @media (min-width: 1024px) {
    .videoPlayer_plyr__2FjQQ:-webkit-full-screen .videoPlayer_plyr__captions__2Cl8W {
      font-size: 21px; } }

/* stylelint-disable-next-line */
.videoPlayer_plyr__2FjQQ:-moz-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%; }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen video {
    height: 100%; }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen .videoPlayer_plyr__video-wrapper__21JUe {
    height: 100%;
    width: 100%; }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen.videoPlayer_plyr--vimeo__cggUh .videoPlayer_plyr__video-wrapper__21JUe {
    height: 0;
    top: 50%;
    transform: translateY(-50%); }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh {
    display: block; }
    .videoPlayer_plyr__2FjQQ:-moz-full-screen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh + svg {
      display: none; }
  .videoPlayer_plyr__2FjQQ:-moz-full-screen.videoPlayer_plyr--hide-controls__1fXuA {
    cursor: none; }
  @media (min-width: 1024px) {
    .videoPlayer_plyr__2FjQQ:-moz-full-screen .videoPlayer_plyr__captions__2Cl8W {
      font-size: 21px; } }

/* stylelint-disable-next-line */
.videoPlayer_plyr__2FjQQ:-ms-fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%; }
  .videoPlayer_plyr__2FjQQ:-ms-fullscreen video {
    height: 100%; }
  .videoPlayer_plyr__2FjQQ:-ms-fullscreen .videoPlayer_plyr__video-wrapper__21JUe {
    height: 100%;
    width: 100%; }
  .videoPlayer_plyr__2FjQQ:-ms-fullscreen.videoPlayer_plyr--vimeo__cggUh .videoPlayer_plyr__video-wrapper__21JUe {
    height: 0;
    top: 50%;
    transform: translateY(-50%); }
  .videoPlayer_plyr__2FjQQ:-ms-fullscreen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh {
    display: block; }
    .videoPlayer_plyr__2FjQQ:-ms-fullscreen .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh + svg {
      display: none; }
  .videoPlayer_plyr__2FjQQ:-ms-fullscreen.videoPlayer_plyr--hide-controls__1fXuA {
    cursor: none; }
  @media (min-width: 1024px) {
    .videoPlayer_plyr__2FjQQ:-ms-fullscreen .videoPlayer_plyr__captions__2Cl8W {
      font-size: 21px; } }

.videoPlayer_plyr--fullscreen-fallback__1ztd0 {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000000; }
  .videoPlayer_plyr--fullscreen-fallback__1ztd0 video {
    height: 100%; }
  .videoPlayer_plyr--fullscreen-fallback__1ztd0 .videoPlayer_plyr__video-wrapper__21JUe {
    height: 100%;
    width: 100%; }
  .videoPlayer_plyr--fullscreen-fallback__1ztd0.videoPlayer_plyr--vimeo__cggUh .videoPlayer_plyr__video-wrapper__21JUe {
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .videoPlayer_plyr--fullscreen-fallback__1ztd0 .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh {
    display: block; }
    .videoPlayer_plyr--fullscreen-fallback__1ztd0 .videoPlayer_plyr__control__2sxpq .videoPlayer_icon--exit-fullscreen__3E5jh + svg {
      display: none; }
  .videoPlayer_plyr--fullscreen-fallback__1ztd0.videoPlayer_plyr--hide-controls__1fXuA {
    cursor: none; }
  @media (min-width: 1024px) {
    .videoPlayer_plyr--fullscreen-fallback__1ztd0 .videoPlayer_plyr__captions__2Cl8W {
      font-size: 21px; } }

.videoPlayer_plyr__ads__27v_n {
  border-radius: inherit;
  bottom: 0;
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }
  .videoPlayer_plyr__ads__27v_n > div,
  .videoPlayer_plyr__ads__27v_n > div iframe {
    height: 100%;
    position: absolute;
    width: 100%; }
  .videoPlayer_plyr__ads__27v_n::after {
    background: rgba(47, 52, 61, 0.8);
    border-radius: 2px;
    bottom: 10px;
    color: #fff;
    content: attr(data-badge-text);
    font-size: 11px;
    padding: 2px 6px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    z-index: 3; }
  .videoPlayer_plyr__ads__27v_n::after:empty {
    display: none; }

.videoPlayer_plyr__cues__2GPgt {
  background: currentColor;
  display: block;
  height: 5px;
  left: 0;
  margin: -2.5px 0 0;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  width: 3px;
  z-index: 3; }

.videoPlayer_plyr__preview-thumb__2MqZY {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  bottom: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  opacity: 0;
  padding: 3px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate(0, 10px) scale(0.8);
          transform: translate(0, 10px) scale(0.8);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  transition: opacity 0.2s 0.1s ease, -webkit-transform 0.2s 0.1s ease;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease, -webkit-transform 0.2s 0.1s ease;
  z-index: 2; }
  .videoPlayer_plyr__preview-thumb--is-shown__28Zns {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1); }
  .videoPlayer_plyr__preview-thumb__2MqZY::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(255, 255, 255, 0.9);
    bottom: -4px;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    z-index: 2; }
  .videoPlayer_plyr__preview-thumb__image-container__3at8Z {
    background: #b7c5cd;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    z-index: 0; }
    .videoPlayer_plyr__preview-thumb__image-container__3at8Z img {
      height: 100%;
      left: 0;
      max-height: none;
      max-width: none;
      position: absolute;
      top: 0;
      width: 100%; }
  .videoPlayer_plyr__preview-thumb__time-container__3kXhU {
    bottom: 6px;
    left: 0;
    position: absolute;
    right: 0;
    white-space: nowrap;
    z-index: 3; }
    .videoPlayer_plyr__preview-thumb__time-container__3kXhU span {
      background-color: rgba(0, 0, 0, 0.55);
      border-radius: 2px;
      color: #fff;
      font-size: 14px;
      padding: 3px 6px; }

.videoPlayer_plyr__preview-scrubbing__33x26 {
  bottom: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  height: 100%;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 1; }
  .videoPlayer_plyr__preview-scrubbing--is-shown__-dHZu {
    opacity: 1; }
  .videoPlayer_plyr__preview-scrubbing__33x26 img {
    height: 100%;
    left: 0;
    max-height: none;
    max-width: none;
    object-fit: contain;
    position: absolute;
    top: 0;
    width: 100%; }

.videoPlayer_plyr--no-transition__1olM1 {
  transition: none !important; }

.videoPlayer_plyr__sr-only__2_SYx {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: 0 !important;
  height: 1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

.videoPlayer_plyr__2FjQQ [hidden] {
  display: none !important; }

